:root {
    --text-color: #AE7C78;
    --white-text-color: #FFF;
    --button-icon-background-color: #D89999;
    --map-contacts-block-background: #F7FAFC;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.header-nav {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-second {
    width: 794px;
    margin: 0 auto;
    padding: 0 203px;
}

.page-body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 19px;
    color: var(--text-color);
}

.page-header {
    margin-top: 25px;
    padding-top: 21px;
    padding-bottom: 22px;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 20px;
}

.header-logo-image {
    position: absolute;
}

.header-logo-link {
    display: grid;
    position: relative;
    justify-items: center;
    top: -5px;
}

.header-menu a {
    text-decoration: none;
    list-style-type: none;
    line-height: 19px;
    margin: 0;
    color: var(--text-color);
}

.header-menu-item {
    align-items: center;
    list-style-type: none;
    margin-top: 3px;
}

.authors-bouquets {
    display: grid;
    grid-template-columns: 407px 1fr 1fr;
    margin-top: 82px;
    margin-bottom: 48px;
    height: 462px;
}

.authors-bouquets-block-text {
    display: flex;
    flex-direction: column;
}

.authors-bouquets-italic {
    font-style: italic;
}

.authors-bouquets-title {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 44px;
    font-style: normal;
    line-height: 59px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    display: block;
    width: 387px;
}

.authors-bouquets-original {
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 64px;
    width: 384px;
}

.view-catalog {
    text-align: center;
    text-decoration: none;
    width: 147px;
    padding: 31px 68px 29px 70px;
    margin: 0;
    line-height: 20px;
    border: 0;
    border-radius: 40px;
    height: 20px;
    display: block;
    color: var(--white-text-color);
    background-color: var(--button-icon-background-color);
}

.bouquet-of-tulips {
    margin-top: auto;
    margin-right: 20px;
}

.authors-bouquets-section {
    font-size: 44px;
}

.benefits {
    margin-bottom: 83px;
    margin-left: 20px;
}

.benefits-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.features-blocks {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
}

.features-blocks:nth-child(1) {
    width: 300px;
}

.features-blocks-add {
    margin-left: 10px;
}

.features-blocks-addd {
    margin-left: 15px;
}

.features-blocks dd {
    margin: 0;
}

.features-blocks-car::before,
.features-blocks-flowers::before,
.features-blocks-photo::before {
    content: "";
    width: 82px;
    height: 52px;
    position: absolute;
    background-repeat: no-repeat;
}

.features-blocks-car::before {
    left: 0px;
    background-image: url("../img/svg/delivery.svg");
}

.features-blocks-flowers::before {
    left: 436px;
    background-image: url("../img/svg/flowers.svg");
}

.features-blocks-photo::before {
    left: 836px;
    background-image: url("../img/svg/photo.svg");
}

.features-blocks>dt {
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
}

.popular-bouquets {
    display: grid;
    grid-template-rows: 84px 1fr 48px;
    grid-template-columns: 1fr 1fr;
}

.popular-bouquets-title {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    padding: 0;
}

.popular-bouquets-buttons {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 15px;
}

.popular-bouquets-button-left,
.popular-bouquets-button-right {
    background: none;
    border: 0;
    margin-bottom: 73px;
}

.popular-bouquets {
    margin-bottom: 56px;
}

.popular-bouquets-name,
.popular-bouquets-price {
    font-weight: 500;
}

.popular-bouquets-price {
    margin: 0;
    padding: 0;
    margin-top: 26px;
}

.popular-bouquets-name {
    margin: 0;
    padding: 0;
    margin-top: 28px;
}

.popular-bouquets-text {
    line-height: 20px;
    margin: 0;
    padding: 0;
    margin-top: 21px;
}

.popular-bouquets-size {
    line-height: 15px;
    margin: 0;
    padding: 0;
    margin-top: 26px;
    margin-right: 5px;
}

.popular-bouquets-order-button {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    border: 0;
    border-radius: 40px;
    height: 80px;
    width: 285px;
    color: var(--white-text-color);
    background-color: var(--button-icon-background-color);
    margin: 0;
    padding: 0;
    margin-top: 64px;
}

.popular-bouquets-image {
    margin-left: 10px;
    margin-top: 1px;
}

.bouquets-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 19px
}

.bouquets-catalog article {
    width: 388px;
    height: 442px;
}

.bouquets-catalog-link {
    display: block;
    padding-top: 183px;
    z-index: 10000;
    position: absolute;
    width: 388px;
    height: 259px;
    text-align: center;
}

.bouquets-catalog-wedding>a::before,
.bouquets-catalog-peonies>a::before,
.bouquets-catalog-select>a::before {
    color: var(--white-text-color);
    display: block;
    margin: 0;
    padding: 0;
    width: 388px;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.bouquets-catalog-wedding>a::before {
    content: "Свадебные букеты";
}

.bouquets-catalog-peonies>a::before {
    content: "Букеты с пионами";
}

.bouquets-catalog-select>a::before {
    content: "Выбрать букет";
}

.bouquets-catalog {
    margin-bottom: 80px;
}

.bouquets-catalog-wedding>a::after,
.bouquets-catalog-peonies>a::after,
.bouquets-catalog-select>a::after {
    color: var(--white-text-color);
    display: block;
    margin: 0;
    padding: 0;
    width: 388px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.bouquets-catalog-wedding>a::after {
    content: "Букеты для невест";
    margin-top: 7px;
}

.bouquets-catalog-peonies>a::after {
    content: "Букеты с сезонными пионами";
    margin-top: 7px;
}

.bouquets-catalog-select>a::after {
    content: "Букеты в ассортименте";
    margin-top: 8px;
}

.bouquets-catalog-wedding {
    background-image: url("../img/jpg/bridal-bouquets.jpg");
    z-index: 5;
}

.bouquets-catalog-wedding::before {
    width: 388px;
    height: 442px;
    position: absolute;
    background-color: var(--text-color);
    content: "";
    border-radius: 10px;
    opacity: 0.6;
    z-index: 5;
}

.bouquets-catalog-peonies {
    background-image: url("../img/jpg/bouquets-with-peonies.jpg");
    z-index: 5;
}

.bouquets-catalog-peonies::before {
    width: 388px;
    height: 442px;
    position: absolute;
    background-color: var(--text-color);
    content: "";
    border-radius: 10px;
    opacity: 0.6;
    z-index: -1;
}

.bouquets-catalog-select {
    background-image: url("../img/jpg/choose-a-bouquet.jpg");
    z-index: 5;
    margin: 0;
}

.bouquets-catalog-select::before {
    width: 388px;
    height: 442px;
    position: absolute;
    background-color: var(--text-color);
    content: "";
    border-radius: 10px;
    opacity: 0.6;
    z-index: -1;
}


.bouquets-catalog {
    text-decoration: none;
}

.bouquets-catalog-text {
    line-height: 20px;
    text-align: center;
}

.bouquets-catalog a {
    text-decoration: none;
    color: var(--white-text-color);
}

.discount {
    display: grid;
    grid-template-columns: 610px 391px;
    margin-bottom: 80px;
}

.discount-title {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 44px;
    line-height: 59px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.discount-title-block {
    margin-top: 40px;
    margin-left: 102px;
}

.discount-block-text {
    background-color: var(--text-color);
    color: var(--white-text-color);
}

.discount-text {
    margin: 0;
    padding: 0;
    margin-top: 24px;
    margin-left: 102px;
    width: 387px;
}

.discount-text,
.news-text,
.authors-bouquets-original,
.popular-bouquets-name,
.popular-bouquets-price {
    font-size: 24px;
    line-height: 29px;
}

.four-steps-title,
.news-title,
.reviews-title,
.map-title,
.popular-bouquets-title {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.news-title {
    margin: 0;
    padding: 0;
    margin-top: 71px;
}

.news-text {
    margin: 0;
    padding: 0;
    margin-top: 39px;
    margin-bottom: 42px;
}

.four-steps {
    margin-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
}

.four-steps-title {
    text-align: center;
    margin: 0;
    margin-bottom: 36px;
}

.four-steps-list {
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.four-steps-list-item {
    display: grid;
    list-style: none;
    position: relative;
    text-align: center;
    grid-template-rows: 36px 1fr;
    padding-top: 52px;
}


.four-steps-item-title {
    margin: 0;
    padding: 0;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.four-steps-item-text {
    margin: 0;
    padding: 0;
}

.four-steps-list-item:nth-child(1)::before {
    content: "";
    position: absolute;
    width: 69px;
    height: 52px;
    left: 110px;
    top: 0px;
    background-image: url("../img/svg/order.svg");
}

.four-steps-list-item:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 52px;
    left: 124px;
    top: 0px;
    background-image: url("../img/svg/details.svg");
}

.four-steps-list-item:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 52px;
    left: 113px;
    top: 0px;
    background-image: url("../img/svg/payment.svg");
}

.four-steps-list-item:nth-child(4)::before {
    content: "";
    position: absolute;
    width: 82px;
    height: 52px;
    left: 108px;
    top: 0px;
    background-image: url("../img/svg/delivery.svg");
}

.four-steps-list-item:nth-child(3) {
    width: 270px;
    padding-left: 15px;
}

.news {
    display: grid;
    grid-template-columns: 508px 692px;
    margin-bottom: 80px;
}

.news-block {
    width: 387px;
}

.news-block-img {
    display: grid;
    grid-template-columns: 295px 397px;
    grid-template-rows: 230px 230px;
}

.img-roses {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column: 1/1;
    margin-top: 10px;
}

.img-carnations {
    margin-left: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2/2;
}

.news-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100px;
    margin: 0;
    padding: 0;
    justify-items: center;
}

.news-list>li {
    list-style: none;
}

.reviews {
    border: 1px solid var(--text-color);
    height: 308px;
    margin-bottom: 80px;
    padding: 0;
}

.reviews-title {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 13px;
}

.reviews-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.reviews-text {
    text-align: center;
    width: 300px;
}

.reviews-text>cite {
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.map-contacts {
    position: relative;
}

.map-contacts-block {
    position: absolute;
    left: 134px;
    top: 62px;
    background-color: var(--map-contacts-block-background);
    width: 386px;
    height: 520px;
    border-radius: 12px;
    box-shadow: 0px 4px 40px 0px #D9D9D94D;
}

.header-menu-item-specials {
    padding-left: 45px;
}

.header-menu-item-delivery {
    padding-left: 10px;
}

.header-menu-item-reviews {
    padding-left: 20px;
}

.map-contacts-item {
    list-style: none;
}

.map-contacts-item p {
    margin-top: 38px;
}

.map-title {
    margin-left: 35px;
    padding: 0;
}

.map-contacts-list {
    margin-left: 35px;
    padding: 0;
}

.map-contacts-item a,
.map-contacts-item>p:nth-child(2) {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
}

.page-footer {
    background-color: var(--text-color);
    height: 97px;
}

.reviews-text:nth-child(2) {
    padding-left: 12px;
}

.reviews-text:nth-child(3) {
    padding-left: 22px;
}

.page-footer>div {
    display: flex;
}

.footer-menu {
    display: flex;
    width: 795px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 103px;
}

.footer-menu-item a {
    text-decoration: none;
    list-style: none;
    color: var(--white-text-color);
}

.footer-icon-list-item,
.footer-menu-item {
    list-style: none;
}

.footer-icon-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100px;
    margin-left: 105px;
    margin-top: 30px;
}

.page-footer-logo-link {
    margin-top: 24px;
}